# Maven compiled output
target/

# Eclipse IDE specific files
.settings/
.project
.classpath

# Compiled class files
*.class

# Log files
*.log

# Automated tests
src/test

# ---------------------------------------------------
# Database Files
# ---------------------------------------------------
# Ignore all standard SQLite extensions
*.db
*.sqlite
*.sqlite3